body {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-family: 'Crete Round', serif;
}

.introduction-bg {
  background-image: url(images/Illustration-header.svg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center right;
}

.small-card {
  height: 435px;
  width: 369px;
}
